/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .hero 
  font-family "Times New Roman"
  
.DIAStyleFooter
  border:dotted 1px blue;

.DIAStyleHeader
  font-style:bold
  background-image: url("/images/header-background.png");
  
/**
 * h1
 *   color red!important
 */
