/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .hero 
  font-family "Times New Roman"
  
.DIAStyleFooter
  border:solid 1px blue;

.DIAStyleHeader
  font-weight:bold;
  background-image: url("/images/header-background.png");
  height:200px;
  
  
.DIAComponentAssetListWithMarkdownContent
  border:solid 1px black;

/**
 * this is the table rendered by markdown
 */

.markdown-table-vuepress-styling table 
  border: solid thin grey;
  
/**
 * h1
 *   color red!important
 */
