version: '3.2'
services:

  genericnftbidsscraper:
    build:
      context: ../../../..
      dockerfile: github.com/diadata-org/diadata/build/Dockerfile-genericNFTBidsScraper
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericnftbidsscraper:latest
    restart: "no"
    networks:
      - postgres-network
    secrets:
      - postgres_credentials
    environment:
      - EXEC_MODE=production
    logging:
      options:
        max-size: "50m"

  cryptopunkscraper:
    depends_on: [genericnftbidsscraper]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericnftbidsscraper:latest
    command: /bin/nftBid-scrapers -nftclass=Cryptopunk
    networks:
      - postgres-network
    secrets:
      - postgres_credentials
    environment:
      - EXEC_MODE=production
    logging:
      options:
        max-size: "50m"

secrets:
  postgres_credentials:
    file: ../secrets/postgres_credentials.txt

networks:
  postgres-network:
    external:
        name: postgres_postgres-network