version: '3.2'
services:

  optioncollector:
    build:
      context: ../../../..
      dockerfile: github.com/diadata-org/diadata/build/Dockerfile-optioncollector
#    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}-optioncollector:latest
    networks:
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  okexCollector:
    depends_on: [optioncollector]
    command: /bin/collector -exchange=OKEx
    networks:
      - influxdb-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  deribitCollector:
    depends_on: [ optioncollector ]
    command: /bin/collector -exchange=Deribit
    networks:
      - influxdb-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  opynCollector:
    depends_on: [ optioncollector ]
    command: /bin/collector -exchange=OPYN
    networks:
      - influxdb-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production
