#  add labels to machines:
#  docker node update xxx --label-add kafka=1
#  docker node update xxx --label-add zoo=1

version: '3.2'
services:

  zookeeper:
    image: wurstmeister/zookeeper
#    ports:
#      - "2181:2181"
    volumes:
# TODO figure out how to have this without version number
      - /home/srv/zoo:/opt/zookeeper-3.4.9/data
    networks:
      - kafka-network
    deploy:
      mode: global
      restart_policy:
        delay: 2s
        window: 20s
  kafka0:
    image: wurstmeister/kafka:latest
    ports:
      - "9094:9094"
    networks:
      - kafka-network
    deploy:
      mode: global
    environment:
      HOSTNAME_COMMAND: "docker info | grep ^Name: | cut -d' ' -f 2"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9092,OUTSIDE://_{HOSTNAME_COMMAND}:9094
      KAFKA_LISTENERS: INSIDE://:9092,OUTSIDE://:9094
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_LOG_DIRS: /kafka/kafka-logs-1
      KAFKA_LOG_RETENTION_BYTES: -1
      KAFKA_LOG_RETENTION_HOURS: -1
      KAFKA_DELETE_TOPIC_ENABLE: "true"
      KAFKA_MESSAGE_MAX_BYTES: 10000000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/srv/kafka:/kafka
    deploy:
      mode: global
      restart_policy:
        delay: 2s
        window: 20s
    depends_on:
      - zookeeper

networks:
  kafka-network:
    driver: overlay
    attachable: true
