version: '3.2'
services:

  genericnfttradesscraper:
    build:
      context: ../../../..
      dockerfile: github.com/diadata-org/diadata/build/Dockerfile-genericNFTTradesScraper
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericnfttradesscraper:latest
    restart: "no"
    networks:
      - postgres-network
    secrets:
      - postgres_credentials
    environment:
      - EXEC_MODE=production
    logging:
      options:
        max-size: "50m"

  openseascraper:
    depends_on: [genericnfttradesscraper]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericnfttradesscraper:latest
    command: /bin/nftTrade-scrapers -nftclass=Opensea
    networks:
      - postgres-network
    secrets:
      - postgres_credentials
    environment:
      - EXEC_MODE=production
    logging:
      options:
        max-size: "50m"

secrets:
  postgres_credentials:
    file: ../secrets/postgres_credentials.txt

networks:
  postgres-network:
    external:
        name: postgres_postgres-network