version: '3.2'

services:
  geth:
    image:
      ethereum/client-go:stable
    volumes:
      - /home/srv/geth:/root/.ethereum
    command: --http.vhosts geth --http --http.addr "0.0.0.0" --cache 1024 --syncmode "fast" --ws --ws.addr "0.0.0.0" --ws.origins "*" --ws.port 8546 --http.api admin,db,eth,debug,miner,net,shh,txpool,personal,web3 --txpool.globalqueue 4096 --rpc.allow-unprotected-txs=true --txlookuplimit 0
    ports: 
      - mode: host
        target: 8545
        published: 8545
      - mode: host
        target: 8546
        published: 8546
    logging:
      options:
        max-size: "50m"
    deploy:
      mode: global
      restart_policy:
        delay: 2s
        window: 20s

  geth-bsc:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-geth-bsc
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_geth-bsc
    volumes:
      - /home/srv/geth-bsc:/root/.ethereum
    command: --rpcvhosts geth --rpc --rpcaddr "0.0.0.0" --cache 1024 --rpc --syncmode "fast" --ws --ws.addr "0.0.0.0" --ws.origins "*" --ws.port 8546 --http.api admin,db,eth,debug,miner,net,shh,txpool,personal,web3 --txpool.globalqueue 4096 --rpc.allow-unprotected-txs=true
    ports: 
      - mode: host
        target: 8545
        published: 18545
      - mode: host
        target: 8546
        published: 18546
    logging:
      options:
        max-size: "50m"
    networks:
      - scrapers-network
    deploy:
      mode: global
      restart_policy:
        delay: 2s
        window: 20s

  oracleservice-eth:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService-eth
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-eth
    networks:
      - scrapers-network
    command: --deployedContract=0xD47FDf51D61c100C447E2D4747c7126F19fa23Ef --chainId=1
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys

  oracleservice-ropsten:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-ropsten
    networks:
      - scrapers-network
    command: --deployedContract=0x1e27d6b118e2e618e1b902e85428a27f49edd5ec --secretsFile=/run/secrets/oracle_keys_ropsten --blockchainNode="https://ropsten.infura.io/v3/867c72bbf61a4002a28b8933fa601ffa" --sleepSeconds=300 --frequencySeconds=86400 --chainId=3
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_ropsten

  oracleservice-kovan:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-kovan
    networks:
      - scrapers-network
    command: --deployedContract=0xb73db1a6a85219742fbd0fc7cc275c62209aa660 --secretsFile=/run/secrets/oracle_keys_kovan --blockchainNode="https://kovan.infura.io/v3/867c72bbf61a4002a28b8933fa601ffa" --sleepSeconds=300 --frequencySeconds=86400 --chainId=42
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_kovan

  oracleservice-xdai:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-xdai
    networks:
      - scrapers-network
    command: --deployedContract=0xcf2374824c2ff84f07ff4adca074dfedda5c7569 --secretsFile=/run/secrets/oracle_keys_xdai_generic --blockchainNode="https://rpc.xdaichain.com/" --sleepSeconds=300 --frequencySeconds=86400 --chainId=100
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_xdai_generic

  oracleservice-xdai-sokol:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-xdai-sokol
    networks:
      - scrapers-network
    command: --deployedContract=0x45D4B75228Ed3ee068A64dD1d5b53094A5015f78 --secretsFile=/run/secrets/oracle_keys_xdai_generic_sokol --blockchainNode="https://sokol.poa.network" --sleepSeconds=300 --frequencySeconds=86400 --chainId=77
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_xdai_generic_sokol

  oracleservice-bsc-testnet:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-bsc-testnet
    networks:
      - scrapers-network
    command: --deployedContract=0xf35bEE4B6727D2D1c9167C5fB4D51855D6bB693c --secretsFile=/run/secrets/oracle_keys_bsc_testnet --blockchainNode="https://data-seed-prebsc-1-s1.binance.org:8545" --sleepSeconds=20 --frequencySeconds=3600 --chainId=97
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_bsc_testnet

  oracleservice-bsc:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-bsc
    networks:
      - scrapers-network
    command: --deployedContract=0xf35bEE4B6727D2D1c9167C5fB4D51855D6bB693c --secretsFile=/run/secrets/oracle_keys_bsc --blockchainNode="https://bsc-dataseed.binance.org/" --sleepSeconds=20 --frequencySeconds=86400 --chainId=56
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_bsc

  oracleservice-matic:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService-matic
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-matic
    networks:
      - scrapers-network
    command: --deployedContract=0x8e687a93a969f0bf125f1154738ca6dcc36af57f --secretsFile=/run/secrets/oracle_keys_matic --blockchainNode="https://rpc-mainnet.matic.network/" --sleepSeconds=20 --frequencySeconds=86400 --chainId=137
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_matic

  oracleservice-matic-mumbai:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService-matic
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-matic-mumbai
    networks:
      - scrapers-network
    command: --deployedContract=0xa3d2127f85041729fec05ca483b302ddb806d50a --secretsFile=/run/secrets/oracle_keys_matic_mumbai --blockchainNode="https://rpc-mumbai.matic.today" --sleepSeconds=20 --frequencySeconds=86400 --chainId=80001
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_matic_mumbai

  oracleservice-moonbeam:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService-moonbeam
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-moonbeam
    networks:
      - scrapers-network
    command: --deployedContract=0x5425F5d4ba2B7dcb277C369cCbCb5f0E7185FB41 --secretsFile=/run/secrets/oracle_keys_moonbeam --blockchainNode="https://rpc.testnet.moonbeam.network" --sleepSeconds=20 --frequencySeconds=86400 --chainId=1287
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_moonbeam

  oracleservice-plasm-dusty:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice-plasm-dusty
    networks:
      - scrapers-network
    command: --deployedContract=0xfc450ac26d199e64f78d927d8502107c4e30d70b --secretsFile=/run/secrets/oracle_keys_plasm_dusty --blockchainNode="https://rpc.dusty.plasmnet.io:8545" --sleepSeconds=20 --frequencySeconds=86400 --chainId=80
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_plasm_dusty

  diacoingeckooracleservice-matic:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoingeckoOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoingeckooracleservice-matic
    networks:
      - scrapers-network
    command: --deployedContract=0xa14ce6091786a708cde547e1bf53911c78777ede --blockchainNode="https://rpc-mainnet.matic.network/" --secretsFile=/run/secrets/oracle_keys_matic_coingecko --numCoins=100 --sleepSeconds=20 --frequencySeconds=86400 --chainId=137
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_matic_coingecko

  diacoingeckooracleservice-bsc:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoingeckoOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoingeckooracleservice-bsc
    networks:
      - scrapers-network
    command: --deployedContract=0x48140d0116964f05c97f08e0b3271d78b12506d8 --blockchainNode="https://bsc-dataseed.binance.org/" --secretsFile=/run/secrets/oracle_keys_bsc_coingecko --numCoins=100 --sleepSeconds=20 --frequencySeconds=86400 --chainId=56
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_bsc_coingecko

  diacoinmarketcaporacleservice-matic:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoinmarketcapOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoinmarketcaporacleservice-matic
    networks:
      - scrapers-network
    command: --deployedContract=0xf7cd0f8a9d1fd0df200cf8a0a6875126457676b8 --blockchainNode="https://rpc-mainnet.matic.network/" --secretsFile=/run/secrets/oracle_keys_matic_coinmarketcap --numCoins=100 --sleepSeconds=20 --frequencySeconds=86400 --chainId=137
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_matic_coinmarketcap
      - Coinmarketcap-API.key

  diacoingeckooracleservice-kovan:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoingeckoOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoingeckooracleservice-kovan
    networks:
      - scrapers-network
    command: --deployedContract=0x50e087d98a33ceb1ced159ad9255d6f228f2ef1c --numCoins=100 --secretsFile=/run/secrets/oracle_keys_kovan --blockchainNode="https://kovan.infura.io/v3/867c72bbf61a4002a28b8933fa601ffa" --sleepSeconds=300 --frequencySeconds=86400 --chainId=42
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_kovan

  diacoinmarketcaporacleservice-kovan:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoinmarketcapOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoinmarketcaporacleservice-kovan
    networks:
      - scrapers-network
    command: --deployedContract=0xc7a9b2332681ee3a82c6a90b87ec73388ef6b745 --numCoins=100 --secretsFile=/run/secrets/oracle_keys_cmc_kovan --blockchainNode="https://kovan.infura.io/v3/867c72bbf61a4002a28b8933fa601ffa" --sleepSeconds=300 --frequencySeconds=86400 --chainId=42
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_cmc_kovan
      - Coinmarketcap-API.key

  diajoosoracleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaJoosOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diajoosoracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0x07E4120dD7411a49e091a20FA0be33a183C35d60 --chainId=1
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys

  diaxdaioracleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaXdaiOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diaxdaioracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0xa36514cd18ffcdec749c248b260d80be4dcdbbf1 --chainId=100
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_xdai

  diawoworacleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaWowOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diawoworacleservice
    networks:
      - scrapers-network
    command: --deployedContract=0x7f33a6f183f9e9f26290c1d74b9c638381eeb457 --secretsFile=/run/secrets/oracle_keys_wow_bsc --frequencySeconds=30 --sleepSeconds=30 --deviationPermille=30
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_wow_bsc

  diapcwsoracleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaPcwsOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diapcwsoracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0xfe210374bca3a37f879cc5462c7c7948803e6588 --secretsFile=/run/secrets/oracle_keys_pcws_bsc
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_pcws_bsc

  diadafioracleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaDafiOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diadafioracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0x35B49eDdB46dbc33336F3A0410008B7be98D4A3a --secretsFile=/run/secrets/oracle_keys_dafi_bsc --frequencySeconds=30 --sleepSeconds=30 --deviationPermille=1
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_dafi_bsc

  diadafioracleservice-eth:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaDafiOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diadafioracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0x09B114dAC9b0848819a59E944D631B98E06CDfA3 --secretsFile=/run/secrets/oracle_keys_dafi_eth --frequencySeconds=30 --sleepSeconds=30 --deviationPermille=20 --blockchainNode="http://159.69.120.42:8545" --chainId=1
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_dafi_eth

  diaxdaioracleservice-sokol:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaXdaiOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diaxdaioracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0xba03d4bf8950128a7779c5c1e7899c6e39d29332 --chainId=77 --blockchainNode="https://sokol.poa.network" --secretsFile=/run/secrets/oracle_keys_cardstack_sokol
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_cardstack_sokol

  diacoinmarketcaporacleservice-bsc:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoinmarketcapOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoinmarketcaporacleservice-bsc
    networks:
      - scrapers-network
    command: --numCoins=50 --deployedContract=0xbafee71d40babc12a3d0b2b8937ee62d3a070835 --blockchainNode="https://bsc-dataseed.binance.org/" --sleepSeconds=20 --frequencySeconds=86400 --secretsFile=/run/secrets/oracle_keys_bsc_cmc --chainId=56
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_bsc_cmc
      - Coinmarketcap-API.key

  diacoinmarketcaporacleservice-bsc-testnet:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaCoinmarketcapOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diacoinmarketcaporacleservice-bsc-testnet
    networks:
      - scrapers-network
    command: --numCoins=50 --deployedContract=0x42d44f1c45349d47d34976ce3a2ff0c3dd3210a8 --blockchainNode="https://data-seed-prebsc-1-s1.binance.org:8545" --sleepSeconds=20 --frequencySeconds=86400 --secretsFile=/run/secrets/oracle_keys_cmc_bsc_testnet --chainId=97
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys_cmc_bsc_testnet
      - Coinmarketcap-API.key

  diascifioracleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-diaScifiOracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_diascifioracleservice
    networks:
      - scrapers-network
    command: --deployedContract=0x814712cc9fa606a4b372b87cd27775959e052d9a --chainId=1
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys

secrets:
  api_diadata:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/api_diadata.json
  oracle_keys:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys.txt
  oracle_keys_xdai:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_xdai.txt
  oracle_keys_xdai_generic:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_xdai_generic.txt
  oracle_keys_xdai_generic_sokol:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_xdai_generic.txt.sokol
  oracle_keys_wow_bsc:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_wow_bsc.txt
  oracle_keys_pcws_bsc:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_pcws_bsc.txt
  oracle_keys_dafi_bsc:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_dafi_bsc.txt
  oracle_keys_dafi_eth:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_dafi_eth.txt
  oracle_keys_cardstack_sokol:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_cardstack_sokol.txt
  oracle_keys_ropsten:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys.txt.ropsten2
  oracle_keys_kovan:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys.txt.kovan
  oracle_keys_cmc_kovan:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_coinmarketcap.txt.kovan
  oracle_keys_bsc_testnet:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_bsc.txt.testnet
  oracle_keys_bsc_testnet_defi100:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_defi100_bsc.txt.testnet
  oracle_keys_bsc_defi100:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_defi100_bsc.txt
  oracle_keys_bsc_cmc:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_cmc_bsc.txt
  oracle_keys_cmc_bsc_testnet:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_cmc_bsc_testnet.txt
  oracle_keys_matic_coingecko:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_coingecko_matic.txt
  oracle_keys_bsc_coingecko:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_coingecko_bsc.txt
  oracle_keys_matic_coinmarketcap:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_coinmarketcap_matic.txt
  oracle_keys_bsc:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_bsc.txt
  oracle_keys_matic:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_matic.txt
  oracle_keys_matic_mumbai:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_matic.txt.mumbai
  oracle_keys_moonbeam:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_moonbeam.txt
  oracle_keys_plasm_dusty:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys_plasm.txt.dusty
  Coinmarketcap-API.key:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/Coinmarketcap-API.key

volumes:
  bitcoin:

networks:
  scrapers-network:
