version: '3.2'
services:

  ecb:
    build:
      context: ../../../..
      dockerfile: github.com/diadata-org/diadata/build/Dockerfile-ecb
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_ecb:latest
    networks:
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  bitmaxcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Bitmax
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production
  
  crex24collector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=CREX24
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  hitbtccollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=HitBTC -onePairPerSymbol
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  gateiocollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=GateIO
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  bancorcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Bancor
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production


  # loopringcollector:
  #   depends_on: [genericcollector]
  #   image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
  #   command: /bin/collector -exchange=Loopring
  #   networks:
  #     - kafka-network
  #     - redis-network
  #   logging:
  #     options:
  #       max-size: "50m"
  #   environment:
  #     - EXEC_MODE=production

  uniswapcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Uniswap
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  uniswapv3collector:
    depends_on: [ genericcollector ]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=UniswapV3
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  sushiswapcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=SushiSwap
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  pancakeswapcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=PanCakeSwap
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

    
  gnosiscollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Gnosis
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production  

  curveficollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Curvefi
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  kucoincollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=KuCoin
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  # makercollector:
  #   depends_on: [genericcollector]
  #   image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
  #   command: /bin/collector -exchange=Maker
  #   networks:
  #     - kafka-network
  #     - redis-network
  #   logging:
  #     options:
  #       max-size: "50m"
  #   environment:
  #     - EXEC_MODE=production

  genericcollector:
    build:
      context: ../../../..
      dockerfile: github.com/diadata-org/diadata/build/Dockerfile-genericCollector
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    restart: "no"
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  # simexcollector:
  #   depends_on: [genericcollector]
  #   image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
  #   command: /bin/collector -exchange=Simex
  #   networks:
  #     - kafka-network
  #     - redis-network
  #   logging:
  #     options:
  #       max-size: "50m"
  #   environment:
  #     - EXEC_MODE=production

  stexcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=STEX
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  bittrexcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Bittrex
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  balancercollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Balancer
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  dforcecollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Dforce
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  lbankcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=LBank
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  okexcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=OKEx -onePairPerSymbol
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  huobicollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Huobi
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  coinbasecollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=CoinBase
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  binancecollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Binance
    networks:
      - kafka-network
      - redis-network
    secrets:
      - api_binance
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  # bitfinexcollector:
  #   depends_on: [genericcollector]
  #   image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
  #   command: /bin/collector -exchange=Bitfinex
  #   networks:
  #     - kafka-network
  #     - redis-network
  #   logging:
  #     options:
  #       max-size: "50m"
  #   secrets:
  #     - api_bitfinex
  #   environment:
  #     - EXEC_MODE=production

  krakencollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Kraken
    networks:
      - kafka-network
      - redis-network
    secrets:
      - api_kraken
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  zbcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=ZB
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  quoinecollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Quoine
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  bitbaycollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=BitBay
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  zeroxcollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=0x
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

  kybercollector:
    depends_on: [genericcollector]
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_genericcollector:latest
    command: /bin/collector -exchange=Kyber
    networks:
      - kafka-network
      - redis-network
    logging:
      options:
        max-size: "50m"
    environment:
      - EXEC_MODE=production

secrets:
  api_binance:
    file: ../secrets/api_binance.json
  api_bitfinex:
    file: ../secrets/api_bitfinex.json
  api_kraken:
    file: ../secrets/api_kraken.json

networks:
  kafka-network:
    external:
        name: kafka_kafka-network
  redis-network:
    external:
        name: redis_redis-network
  influxdb-network:
    external:
        name: influxdb_influxdb-network
