version: '3.2'

services:
  geth:
    image:
      ethereum/client-go:alpine
    volumes:
      - /home/srv/geth:/root/.ethereum
    command: --rpcvhosts geth --rpc --rpcaddr "0.0.0.0" --cache 1024 --rpc --syncmode "fast"
    logging:
      options:
        max-size: "50m"
    networks:
      - scrapers-network
    deploy:
      mode: global
      restart_policy:
        delay: 2s
        window: 20s

  binance-token:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-binance-token
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_binance-token
    networks:
      - scrapers-network
    depends_on:
      - geth
    logging:
      options:
        max-size: "50m"
    secrets:
      - api_diadata

  oracleservice:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-oracleService
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_oracleservice
    networks:
      - scrapers-network
    depends_on:
      - geth
    command: --deployedContract=0xD47FDf51D61c100C447E2D4747c7126F19fa23Ef
    logging:
      options:
        max-size: "50m"
    secrets:
      - oracle_keys

  eth:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-eth
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_eth
    networks:
      - scrapers-network
    depends_on:
      - geth
    logging:
      options:
        max-size: "50m"
    secrets:
      - api_diadata

  maker-token:
    build:
      context: $GOPATH
      dockerfile: $GOPATH/src/github.com/diadata-org/diadata/build/Dockerfile-maker-token
    image: ${DOCKER_HUB_LOGIN}/${STACKNAME}_maker-token
    networks:
      - scrapers-network
    depends_on:
      - geth
    logging:
      options:
        max-size: "50m"
    secrets:
      - api_diadata

secrets:
  api_diadata:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/api_diadata.json
  oracle_keys:
    file: $GOPATH/src/github.com/diadata-org/diadata/secrets/oracle_keys.txt

volumes:
  bitcoin:

networks:
  scrapers-network:
