.row {
  margin-right: 70px !important;
  margin-left: 70px !important;
  width: 100%;
}

nav.bg-info {
  background-color: rgb(86, 77, 251) !important;
}

.navbar {
    position: relative;
    justify-content: unset;
}

.navbar-brand {
	margin-right: 0;
}

.sub-header {
	color: #FFF;
}

@media (min-width: 320px) and  (max-width: 576px){
	.row {
	  margin-right: 2px !important;

	}	
}

@media (min-width: 768px) and  (max-width: 1023px){
	
	.row {
	  margin-right: 0!important;
	  margin-left: 0 !important;
	}	
}

@media (min-width: 1024px) and (max-width: 1200px) {

	.row {
	  margin-right: 0 !important;
	  margin-left: 80px !important;
	}	
	
}





