.row {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
  width: 100%;
}

nav.bg-info {
  background-color: rgb(86, 77, 251) !important;
}

.navbar {
    position: relative;
    justify-content: unset;
}

.navbar-brand {
	margin-right: 0;
}

.sub-header {
	color: #FFF;
}


.search-input {
	width: 100%;
}

.header-components {
	margin-top: 20px;
}

#dd-currency {
	float:right;
}

/deep/ #dd-currency button.btn-secondary:hover,
/deep/ #dd-currency button.btn-secondary {
	color: #fff;
    background-color: #FF7096;
    border-color: #FF7096;
    font-weight: 600;
}

@media (min-width: 320px) and  (max-width: 767px){
	header.lg-screens {
		display: none;
	}

	header.sm-screens {
		display: block;
	}

	header.sm-screens .row .col-12 {
		padding-left: 0;
		padding-right: 2px;
	}

	.row {
  		margin-right: 0!important;
  		margin-left: 0!important;
	}

	#dd-currency {
		float: left;
	}

	.btn-search {
		margin-top: 2px;
	}

	.btn-search a{
		color: #fff;
		text-decoration: none;
		font-size: 18px;
	}

	.search-input {
		width: 10rem;
	}
}

@media (min-width: 768px) {
	header.sm-screens {
		display: none;
	}
}

@media (min-width: 768px) and  (max-width: 1023px){
	
	.row {
	  margin-right: 0!important;
	  margin-left: 0 !important;
	}	

	#dd-currency {
		margin-top: 10px;
		float: left;
	}
	
}

@media (min-width: 1024px) and (max-width: 1200px) {

	.row {
	  margin-right: 0 !important;
	  margin-left: 80px !important;
	}	
	
}





