.loading-error,
div.loading-data {
	width: 100%;
	min-height: 83vh;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}
.coin-details {
	min-height: 70vh;
}

.coin-details div .container-fluid {
	padding-left: 6rem;
}

#dd-currency,
#dd-exchange,
#dd-algorithm {
	float:right;
	padding: 0;
}

/deep/ #dd-currency .btn,
/deep/ #dd-exchange .btn,
/deep/ #dd-algorithm .btn {
	line-height: 1.9;
	border-radius: 0;
}

/deep/ #dd-currency .dropdown-menu,
/deep/ #dd-exchange .dropdown-menu,
/deep/ #dd-algorithm .dropdown-menu {
	font-size: 12px;
}

/deep/ #dd-currency button.btn-secondary:hover,
/deep/ #dd-currency button.btn-secondary,
/deep/ #dd-exchange button.btn-secondary:hover,
/deep/ #dd-exchange button.btn-secondary,
/deep/ #dd-algorithm button.btn-secondary:hover,
/deep/ #dd-algorithm button.btn-secondary {
	color: #fff;
    background-color: #00CCB7;
    border-color: #00CCB7;
    font-weight: 600;
}

.coindata-charts {
	width: 100%;
	margin-right: 70px;
}

.data-sources-banner {
	margin-top: 20px;
	background-color: #00CCB7;
	color: #fff;
	text-align: center;
	margin-right: 70px;
	line-height: 56px;
	font-size: 1.25rem;
}

#dd-currency,
/deep/ div .table-responsive.main,
#dd-exchange,
/deep/ div .table-responsive.main,
#dd-algorithm,
/deep/ div .table-responsive.main{
	padding-right: 16px;
	margin-right: 0;
}

/deep/ div .table-responsive.details{
	width: 600px;
	margin-left: 30%;
}

/deep/ div .table-responsive.details thead tr th,
/deep/ div .table-responsive.details tbody tr td {
	font-size: 12px;
}

/deep/ table thead tr th,
/deep/ table tbody tr td {
	text-align: right;
}

/deep/ table thead tr th:first-child,
/deep/ table tbody tr td:first-child {
	text-align: left;
}

/deep/ table tbody tr td:nth-child(5) {
	float: right;
}

/deep/ table tbody tr td:nth-child(5) .btn {
	border-radius: 0;
}

/deep/ table thead tr th:nth-child(5) {
	padding-right: 22px;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #00cc00 !important;
}

.text-normal {
    color: #000000 !important;
}

.text-methodology h6 {
	margin-right: 80px;
}

@media (max-width: 768px) {	
	.coin-details div .container-fluid  {
		padding-left: 10px;
	}

	#dd-currency,
	/deep/ div .table-responsive.main,
	.data-sources-banner,
	#dd-exchange,
	/deep/ div .table-responsive.main,
	.data-sources-banner,
	#dd-algorithm,
	/deep/ div .table-responsive.main,
	.data-sources-banner{
		margin-right: 10px;
	}

	.coindata-charts {
		margin-left: 5px;
		margin-right: 1px;
	}

}

@media (max-width: 576px) {	

	.text-methodology h6 {
		text-align: left;
		margin-right: 0;
	}

	#dd-currency,
	/deep/ div .table-responsive.main,
	.data-sources-banner,
	#dd-exchange,
	/deep/ div .table-responsive.main,
	.data-sources-banner,
	#dd-algorithm,
	/deep/ div .table-responsive.main,
	.data-sources-banner{
		margin-right: 0;
		padding-right: 0;
	}

	.dropdown-wrap {
		display: flex;
		justify-content: space-around;

	}
}
