div.loading-data {
	width: 100%;
	min-height: 70vh;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}
.coin-details {
	min-height: 70vh;
}

.coin-details div .container-fluid {
	padding-left: 6rem;
}

.data-sources-banner {
	margin-top: 20px;
	background-color: #dd8244;
	color: #fff;
	text-align: center;
}

/deep/ table thead tr th,
/deep/ table tbody tr td {
	text-align: right;
}

/deep/ table thead tr th:first-child,
/deep/ table tbody tr td:first-child {
	text-align: left;
}

deep/ table thead tr th:nth-child(5),
/deep/ table tbody tr td:nth-child(5){
	text-align: center;
}


.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #00cc00 !important;
}

.text-normal {
    color: #000000 !important;
}

.text-methodology h6 {
	margin-right: 80px;
}

@media (max-width: 768px) {	
	.coin-details div .container-fluid  {
		padding-left: 10px;
	}
}

@media (max-width: 576px) {	

	.text-methodology h6 {
		text-align: left;
		margin-right: 0;
	}
}
