.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.loading-error,
div.loading-data {
	min-height: 83vh;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}

.coin-data {
	margin-top:  20px;
}

.link-row {
	margin-top:  20px;
	margin-bottom: 20px;
}

.link-row a {
	background-color: #00CCB7;
	color: #fff;
	padding: 10px;
}

.link-row a#first {
	margin-left: 500px;
}

.link-row a#second {
	margin-left: 100px;
}

.line-separator {
	border-bottom: 2px solid #564dfc;
	margin-bottom: 24px;
	margin-left: 80px;
	margin-right: 80px;
}

.ui.search.selection.dropdown {
	border-radius: 0;
	line-height: 1.1;
}

/deep/ .ui.fluid.dropdown > .dropdown.icon {
	display: none;
}

#dd-currency {
	float:right;
	padding: 0;
}

/deep/ #dd-currency .btn {
	line-height: 1.9;
	border-radius: 0;
}

/deep/ #dd-currency .dropdown-menu {
	font-size: 12px;
}

/deep/ #dd-currency button.btn-secondary:hover,
/deep/ #dd-currency button.btn-secondary {
	color: #fff;
    background-color: #FF7096;
    border-color: #FF7096;
    font-weight: 600;
}

.subtext1 ul {
	list-style-type: none;
}

.subtext1,
section div .table-responsive{
	padding-left: 80px;
	padding-right: 80px;
}

.search-currency-row {
	padding-left: 65px;
	padding-right: 80px;
}

.subtext2 {
	padding-left: 120px;
}

span.coin-name {
	margin-left: 20px;
}


/deep/ table thead tr th,
/deep/ table tbody tr td {
	text-align: right;
}

/deep/ table tbody tr td {
	padding: 0;
	vertical-align: middle;
}

/deep/ table thead th:nth-child(2),
/deep/ table td:nth-child(2){
	text-align: left;
	padding-left: 30px;
}

/deep/ table thead tr th:first-child,
/deep/ table thead tr th:nth-child(5),
/deep/ table thead tr th:nth-child(9),
/deep/ table tbody tr td:first-child,
/deep/ table tbody tr td:nth-child(5),
/deep/ table tbody tr td:nth-child(9) {
	text-align: center;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #00cc00 !important;
}

.text-normal {
    color: #000000 !important;
}

@media (min-width: 320px) and (max-width: 767px) {	
	.link-row a {
		font-size: 11px;
	}

	.link-row a#first {
		margin-left: 15px;
	}

	.link-row a#second {
		margin-left: 5px;
	}
}

@media (min-width: 375px) and (max-width: 767px) {	
	.link-row a {
		font-size: 14px;
	}

	.link-row a#first,
	.link-row a#second {
		margin-left: 10px;
	}

	.link-row a#first {
		margin-left: 20px;
	
	}
}


@media (min-width: 320px) and (max-width: 767px) {	

	.search-currency-row,
	.subtext1,
	section div .table-responsive{
		padding-left: 1px;
		padding-right: 0;
		padding-top: 0;
	}
	.subtext2 {
		padding-left: 40px;
	}
	.search-currency-row {
		padding-left: 0;
	}

	.line-separator {
		margin-left: 0;
		margin-right: 0;
	}

	
}

@media (min-width: 768px)  and (max-width: 1023px){	
	/deep/ table{
		width: 160%;
	}
	/deep/ table td:nth-child(2){
		text-align: left;
		padding-left: 2px;
	}

	.search-currency-row,
	.subtext1,
	section div .table-responsive{
		padding-left: 1px;
		padding-right: 0;
		padding-top: 0;
	}
	.subtext2 {
		padding-left: 40px;
	}
	.search-currency-row {
		padding-left: 0;
	}

	.line-separator {
		margin-left: 0;
		margin-right: 0;
	}

	.link-row a#first,
	.link-row a#second {
		margin-left: 120px;
	}

	
}

@media (max-width: 576px) {	
	/deep/ table th,
	/deep/ table td {
		font-size: 12px;
	}
	/deep/ table td:nth-child(2){
		text-align: left;
		padding-left: 2px;
	}

	/deep/ table{
		width: 350%;
	}
}



@media (min-width: 1024px) and (max-width: 1366px)  {	
	/deep/ table{
		width: 150%;
	}

	.search-currency-row,
	.subtext1,
	section div .table-responsive{
		padding-left: 1px;
		padding-right: 0;
		padding-top: 0;
	}
	.subtext2 {
		padding-left: 40px;
	}
	.search-currency-row {
		padding-left: 0;
	}

	.line-separator {
		margin-left: 0;
		margin-right: 0;
	}

	.link-row a#first {
		margin-left: 250px;
	}
	.link-row a#second {
		margin-left: 100px;
	}
	
}
