.coin-data-footer{
	width: 100%;
	background-color: rgb(86, 77, 251) !important;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	padding-bottom: 1px;
	flex-shrink: 0;
}

.coin-data-footer div div.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.coin-data-footer div div.row.top-footer-row {
	padding-top: 20px;
}

.coin-data-footer div div.row div a{
	color: #FFFFFF;
	font-weight: 900;
	text-decoration: none;
	float: left;
}

#market-cap {
	width: 100%;
	font-size: 14px;
	padding-top: 20px;
	margin-bottom: 20px;
}


@media(max-width: 414px) {
	.coin-data-footer div div.row div.coin-data-footer-row-spacer {
		display: none !important;
	}
    .coin-data-footer div div.row div a {
      font-size: 10px;
    }

    .coin-data-footer div div.row {
		padding-left: 10px;
	}

	#market-cap {
  	 text-align: center;
  	}
}


@media(min-width: 768px) and (max-width: 1023px) {
  .coin-data-footer div div.row {
	padding-left: 20px;
  }

  #market-cap {
  	text-align: left;
  }
}

@media(min-width: 1024px) {
  .coin-data-footer div div.row {
	margin-left: 4.5rem;
  }

  #market-cap {
  	width: 200%;
  	text-align: left;
  }

}
